# dependencias
/node_modules
/.pnp
.pnp.*

# build
/.next/
/out/
/build
*.tsbuildinfo
next-env.d.ts

# entorno
.env
.env*.local

# despliegue
.vercel

# sistema
.DS_Store
Thumbs.db
*.log
npm-debug.log*
